Dockerfile
.coveralls.yml
*.pyc
.coverage
.tox
.pytest_cache
coverage.xml
.idea/*
__pycache__
*db\.sqlite3
gcp_creds.json
**/migrations/*
secrets.tar
.cache
junit.xml
credentials.dat
.nox
.DS_Store
*.zip
temp/*